* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.color{
  background-color: rgb(194, 239, 212);
}

ul{
  margin-left: 35%;
}

button{
  border: 2px solid black;
  padding: 7px;
  border-radius: 8px;
  background-color: rgb(194, 239, 212);
}

.name-div{
  margin-top: 5%;
}

.name{
  margin-top: 5%;
}

.name h2{
  font-size: 50px;
  color: rgb(34, 79, 52);
  width: 95%;
}

.name p{
  color: rgb(57, 139, 90);
  font-size: 20px;
  width: 65%;
}

.name a{
  background-color: rgb(34, 79, 52)!important;
  color: white!important;
  border: 2px solid black;
  padding: 10px;
  border-radius: 8px;
}

.best{
  margin-top: 5%;
}

.best h3{
  color: rgb(34, 79, 52);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.best p{
  color: rgb(73, 109, 87);
  font-size: 20px;
  text-align: center;
}



@media(max-width:768px){
  ul{
    margin-left: 0;
  }

  .name-div {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .name{
    margin-bottom: 5%;
  }
}


@media(max-width:500px){
  .name-div{
    flex-direction: column;
  }

  .name h2{
    text-align: center;
    font-size: 35px;
    width: 100%;
  }

  .name p{
    text-align: center;
    width: 100%;
  }

  .anchor{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }


}
