* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.color{
  background-color: rgb(194, 239, 212);
}

ul{
  margin-left: 35%;
}

button{
  border: 2px solid black;
  padding: 7px;
  border-radius: 8px;
  background-color: rgb(194, 239, 212);
}

.name-div{
  margin-top: 5%;
}

.name{
  margin-top: 5%;
}

.name h2{
  font-size: 50px;
  color: rgb(34, 79, 52);
  width: 95%;
}

.name p{
  color: rgb(57, 139, 90);
  font-size: 20px;
  width: 65%;
}

.name a{
  background-color: rgb(34, 79, 52)!important;
  color: white!important;
  border: 2px solid black;
  padding: 10px;
  border-radius: 8px;
}

.best{
  margin-top: 5%;
}

.best h3{
  color: rgb(34, 79, 52);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.best p{
  color: rgb(73, 109, 87);
  font-size: 20px;
  text-align: center;
}

.product{
  margin-top: 5%;
}

.text{
  margin-top: 10%;
}

.text h5{
  font-size: 35px;
  font-weight: 500;
  color: rgb(34, 79, 52);
}

footer{
  background-color: rgb(34, 79, 52);
}

.foot h3{
  font-weight: 700;
}

.contact input,
textarea {
  border: 0px !important;
  outline: 0px !important;
  background-color: transparent !important;
  border-bottom: 2px solid white !important;
  padding-bottom: 3px !important;
  margin-bottom: 10px !important;
}

.icon{
  margin-left: -15px;
  margin-top: -10px;
}

.phone{
  margin-left: -50px;
  margin-top: -2px;
}



@media(max-width:768px){
  ul{
    margin-left: 0;
  }

  .name-div {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .name{
    margin-bottom: 5%;
  }

  .hand-bag{
    flex-direction: column;
    align-items: center;
  }

  .school{
    flex-direction: column-reverse;
    align-items: center;
  }

  .cross{
    flex-direction: column;
    align-items: center;
  }

  .travel{
    flex-direction: column-reverse;
    align-items: center;
  }

  .pursue{
    flex-direction: column;
    align-items: center;
  }

  .set{
    flex-direction: column-reverse;
    align-items: center;
  }

  .children{
    flex-direction: column;
    align-items: center;
  }

  .img{
    width: 100%!important;
  }

  .text{
    width: 100% !important;
    text-align: center;
  }
}


@media(max-width:500px){

  section{
    width: 100%;
  }
  .name-div{
    flex-direction: column;
  }

  .name h2{
    text-align: center;
    font-size: 35px;
    width: 100%;
  }

  .name p{
    text-align: center;
    width: 100%;
  }

  .anchor{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .product h3{
    text-align: center;
  }

  .text button{
    width: 100%!important;
  }

  .hand {
    margin-left: 0!important;
  }

  .are{
    width: 25%;
  }

  .foot{
    flex-direction: column;
    align-items: start;
    padding-left: 50px;
  }


}
